*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  font-family: "Open Sans", sans-serif;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

.title_container {
  font-size: 2rem;
  margin: 20px 25% 50px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #dbd8e3;
  border: 0.5px solid black;
  margin: 0 15% 20px;
  border-radius: 5px;
}

.form_label {
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

.form_input {
  width: 50%;
  height: 30px;
  margin: 20px 0;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 10px;
}
.form_textarea {
  width: 50%;

  margin: 20px 0;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 10px;
  resize: none;
}
/*  blogs */
.blogTitle {
  font-size: 1.6rem;
  margin: 20px 30%;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 8px 0;
}
.blogContainer {
  text-align: center;
  border: 1px solid black;
  background: #dbd8e3;
  margin: 0 25% 20px;
  border-radius: 10px;
  padding: 10px 0 10px 10px;
  text-align: justify;
  display: flex;
  justify-content: space-between;
}

.remove {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  
}

/* Generic class */

.btn {
  text-decoration: none;
  display: inline-block;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin-bottom: 20px;
  font-weight: 600;
}
